div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    width: 200px;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    margin: 5px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px;
    width: 100%;
}

.menu a:hover {
    background-color: #ddd;
}

.submenu {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.menu li:hover .submenu {
    display: block;
}

h1 {
    margin: 0;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-left: 110px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content-container {
    margin-top: 60px;
}
